/* delete this section of the code if u want your theme to match the original font the theme has */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*
 {
    font-family: Fira Code!important;
    letter-spacing: -0.px!important;
    font-weight: lighter!important;
}

/ * ---------------------------------------------------------------------------------------------- */

/*Pastel Statuses*/
rect[fill='#23a55a'], svg[fill='#23a55a'] {
    fill: #80c968 !important;
}
rect[fill='#f0b232'], svg[fill='#f0b232'] {
    fill: #e7ca45!important;
}
rect[fill='#f23f43'], svg[fill='#f23f43'] {
    fill: #e0526c !important;
}
rect[fill='#80848e'], svg[fill='#80848e'] {
    fill: #696e88 !important;
}
rect[fill='#593695'], svg[fill='#593695'] {
    fill: #ac7de6 important;
}

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
    &+[class^="viewFullBio_"] {
        display: none;
    }
}

/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset!important;
}

.wrapper_cd82a7,
.root_f9a4c9,
.footer_f9a4c9  {
background-color: oklch(20% 0 0);
}

.section_cd82a7 {
border: 1px solid var(--bg-3);
}

.autocomplete_f23da8 {
background-color: oklch(24% 0 0);
margin-bottom:19px;
margin-left: 7px;
margin-right: 7px;
border: 2px solid var(--bg-3);
}

.autocomplete_f23da8:hover {
transition: ease 0.2s border;
border: 2px solid var(--purple);
}

.quickswitcher_f4e139,
.theme-dark .rootWithShadow_f9a4c9, .theme-light .rootWithShadow_f9a4c9 {
border: 2px solid var(--bg-3);
}

.quickswitcher_f4e139:hover {
transition: ease 0.2s border;
border: 2px solid var(--purple);
}

.theme-dark .pageWrapper_a3a4ce {
background-color: oklch(20% 0 0);
}

[class*='userProfileInner_'] [class^='wrapper_'][class*='avatar'], [class^='userPanelInner_'] [class^='avatar'] .layerContainer_cd0de5 {
border: none!important;
}
