/* YOU CAN DELETE THIS OF YOU WANT IT TO LOOK LIKE THE ORIGINAL THEME! */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*
 {
    font-family: Fira Code!important;
    letter-spacing: -0.px!important;
    font-weight: lighter!important;
}

/*Pastel Statuses*/
rect[fill='#23a55a'], svg[fill='#23a55a'] {
    fill: #80c968 !important;
}
rect[fill='#f0b232'], svg[fill='#f0b232'] {
    fill: #e7ca45!important;
}
rect[fill='#f23f43'], svg[fill='#f23f43'] {
    fill: #e0526c !important;
}
rect[fill='#80848e'], svg[fill='#80848e'] {
    fill: #696e88 !important;
}
rect[fill='#593695'], svg[fill='#593695'] {
    fill: #ac7de6 important;
}

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
    &+[class^="viewFullBio_"] {
        display: none;
    }
}

/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset!important;
}


/* FIXING A FEW STUFF (dont recommend deleting) */

/* soon */